<h3 class="ui center aligned icon header">
  <i class="circular teal comments icon"></i>
  Have a chat!
</h3> 

<div class="ui container grid">
  <div class="twelve wide column">
    <div class= "ui fluid raised card chatbox">
      <div class="content ">
        <div class="ui feed">
          <h4 class="ui header">Chat Room</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em class = "User_name">Elliot Fu</em> : Hi!! How you doing ??
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em class = "User_name" >Stevie Feliciano</em> : Fine!! what about you?
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type = "text" placeholder = "Enter a message..." />
              <i class="large bordered teal icon edit"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class= "ui fluid raised card chatbox">
      <div class="content ">
        <div class="ui vertical menu">
          <a class="teal item">
            Inbox
            <div class="ui teal left pointing label">1</div>
          </a>
          <a class="item">
            Friends
            <div class="ui label">51</div>
          </a>
          <a class="item">
            Updates
            <div class="ui label">1</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>